.mainQs{
    background: linear-gradient(to bottom, #8e9eab, #eef2f3);
    display:flex;
  
    
}
.tarjetaQs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img.imgQs{
    justify-content: end;
    align-items: flex-end;

}
p.textQs{
    justify-content: flex-start;
    text-align: left;
}