div.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;

   
  
    
  }
  .fondoUbi{
    background-image: url;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
  }
  
