$facebook:#3b5999;

$instagram:#e4405f;

$whatsapp:#25D366;


$gmail:#bd081c;

.mainContactos{
    background: linear-gradient(to bottom, #8e9eab, #eef2f3);
}
aside{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
nav{
    
}
footer{

}
header{
   


    
}
body{
    background-color:#F5F8FC ;
} 
.logo{
    background-color:white ;
}