@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Condensed:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgNav {
  width: 32px;
  justify-self: start;
}

.navbar navbar-expand-lg bg-light {
  margin-bottom: 15px;
  background-color: #F5F8FC;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

div.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.fondoUbi {
  background-image: url;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn {
  background-color: #089FE0;
  color: white;
  padding: 0.7em 0;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}
.btn:hover {
  transform: translateY(-3px) scale(1.05);
  background-color: white;
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainContactos {
  background: linear-gradient(to bottom, #8e9eab, #eef2f3);
}

aside {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

body {
  background-color: #F5F8FC;
}

.logo {
  background-color: white;
}

.footer {
  width: 100%;
  background-color: #F5F8FC;
  margin: 20px 0px;
}

.textoFooter {
  font-size: 18px;
}

.containerRedes {
  margin: 20px;
  width: 100%;
}
.containerRedes ul:hover a {
  filter: blur(2px);
}
.containerRedes ul li {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.containerRedes ul li a {
  display: block;
  padding: 0 10px;
  background-color: #333;
  color: white;
  line-height: 50px;
  font-size: 18px;
  transition: 0.2s;
}
.containerRedes ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none;
}
.containerRedes ul li:hover .facebook {
  background-color: #3b5999;
}
.containerRedes ul li:hover .instagram {
  background-color: #e4405f;
}
.containerRedes ul li:hover .whatsapp {
  background-color: #25D366;
}
.containerRedes ul li:hover .gmail {
  background-color: #bd081c;
}

.mainInicio {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  height: 400px;
}

.carousel {
  width: 1000px;
}

.mainProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: #E7EAEF;
  margin-right: 5px;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.card img {
  padding: 5px;
}

#productos {
  background-image: url(../img/r&M\ Fondo.jpg);
}

.header {
  background-image: url(../img/r&M\ Fondo.jpg);
}

@media (min-width: 768px) {
  .mainProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.mainContactos {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.formulario {
  font-family: inherit;
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}

.input form-control {
  font-family: inherit;
}

.contenedorForm {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.tituloForm {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4rem;
}

.mainQs {
  background: linear-gradient(to bottom, #8e9eab, #eef2f3);
  display: flex;
}

.tarjetaQs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img.imgQs {
  justify-content: end;
  align-items: flex-end;
}

p.textQs {
  justify-content: flex-start;
  text-align: left;
}/*# sourceMappingURL=style.css.map */